<div class="container">
  <h1>Reviews for <%=@product.name%></h1>
  <ul>
    <%@product.reviews.each do |review|%>
      <h4>Author: <%= review.author %></h4>
      <h4>Review: <%= review.content_body %></h4>
      <h4>Rating: <%= review.rating %></h4>
  <hr>
    <%end%>
  </ul>
</div>

  <%= link_to 'New Review', new_product_review_path(@product) %>
